* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color:cornflowerblue;
    margin: 0 10%;
    border: solid black;
    border-bottom: 3px;
    border-top: 3px;
    padding: 1%;
}

.error {
    color: red;
}

h1 {
    text-align: center;
}