.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.course-select {
    border-radius: 5px;
    border: 2px solid black;
    height: 5%;
    width: 100%;
}

.create-input {
    resize: none;
    border-radius: 5px;
    justify-self: end;
    background-color: #E6E6FA;
    border: 2px solid #BCB88A;
}

.create-btn {
    margin-top: 3%;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #E6E6FA;
    cursor: pointer;
}